{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sample
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingress.className | quote }}
{{- if .Values.ingress.annotations }}
{{ toYaml .Values.ingress.annotations | indent 2 }}
{{- end }}
spec:
  rules:
  - host: {{ .Values.ingress.host | quote }}
    http:
      paths:
      - path: {{ .Values.ingress.path }}
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.service.name }}
            port:
              number: {{ .Values.service.port }}
{{- end }}
