apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
spec:
  type: {{ .Values.service.type }}
  selector: { app: {{ include "sample.name" . }} }
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
